* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.caja1 {
    background-color: red;
    width: 150px;
    height: 150px;
    position: fixed;
    top: 100px;
    left: 100px;
}

.caja2 {
    background-color: yellow;
    width: 150px;
    height: 150px;
    position: static;
}

.caja3 {
    background-color: greenyellow;
    width: 150px;
    height: 150px;
    position: relative;
    top: 200px;
    left: 200px;
}

.caja3-hijo {
    background-color: crimson;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 25px;
    left: 25px;
}

.caja4 {
    background-color: darkorange;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50px;
    left: 50px;
}

.caja5 {
    background-color: deepskyblue;
    width: 150px;
    height: 150px;
    position: sticky;
    bottom: 0px;
    left: 10px;
}